body {
  position: relative;
}

h3 code {
  font-size: 14px;
  font-weight: normal;
}

header {
  position: relative;
  text-align: left;
}

.center { 
  float: none; 
  margin-left: auto; 
  margin-right: auto; 
}

.flag {
  padding-top: 60px;
}

#gallery {
  background: #e8eded;
}

.centered {
  margin: 0px auto;
  display: block;
}